:root{
    --textColor : rgb(227, 229, 232);
    --pastText  : rgb(132, 133, 136);
    --blue      : #43a7d7;
    --red       : rgb(202 99 109);
    --gold      : rgb(209 154 102);
    --green     : rgb(139 212 88);
    --atomGreen : rgb(150 193 120);
    --dark      : rgb(32, 33, 36);
    --purple    : #ad92e5;
    --goldish   : #ffdb81c4;
    --facebook-text-color : #e4e6ea;
    /* #1d1f22; */
}
*   { cursor: default;  }
html{ height: 100%; mix-blend-mode: darken; }
/* DEFAULTS CHANGES */
frame{ transition: 0.6s; }
button{background-color: transparent; color: #555;}
body{
   font-family: Menlo, monospace;
   color: var(--textColor);
   overscroll-behavior-x: none;
   overscroll-behavior-y: none;
   padding-bottom: 10%;
   padding: 0;
   overflow-x:hidden;
   background: var(--dark);
}
input[type=checkbox]{
  width: 9px;
  vertical-align: middle;
  margin-inline: auto;
  color-scheme: dark;
}
tr{ border-bottom: 1px solid; }
a{
  color: var(--purple);
  cursor: pointer;
  text-decoration: none;
}
td{
  vertical-align: middle;
  height: 3pc;
}
.super-container{
   padding: 10%;
}
.about{
  background: #6478e1;
  letter-spacing: 3px;
}
.settings{
  text-align: center;
}
.end-note{
  text-align: center;
  color: grey;
  margin: 12% 0px 3% 0px;
  font-size: 85%;
  letter-spacing: 3px;
}
/* MOVABLE IMAGE GRAPHIC */
.stock-img{
  width: 50%;
  transform: rotate3d(81, -20, 24, 71deg);
  overflow: hidden;
  background: #00000078;
}
.stock-img:hover{
  transform: rotate3d(0, 0, 0, 0deg) scale(1.3);
  transition: 2s;
  backdrop-filter: blur(5px);
  z-index: 2;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
}
/* TABLE */
.table-holder{}
.matrix{
    overflow: scroll;
    text-orientation: upright;
    writing-mode: vertical-lr;
    width: 100%;
}
.projects-head{
  text-align: center;
  font-size: small;
  background: sienna;
  height: 1pc;
}
.projects-list{
  background: #24222254;
  border-radius: 10px;
  table-layout: fixed;
}
.lister:hover{
  outline: 2px solid mediumaquamarine;
  border-radius: 3px;
  box-shadow: 1px 1px 3px black;
  background: #c0c0c063;
}
.explainer{
  padding-left: 10%;
  background: #a0522d5e;
}
.emphasis{
  font-weight: 900;
  color: mediumspringgreen;
  font-size: large;
}
.emphasis::before{
  content: "★";
  font-size: larger;
}
.stock-img:not(hover){
  transition: 1s;
}
.flexed{
  display: inline-flex;
  justify-content: space-between;
}

.grid-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vh;
}
.rainbow{
  background: repeating-linear-gradient(1deg, rgba(255, 154, 0, 1) 5%, #9C27B0 50%,
                                              rgba(79, 220, 74, 1) 10%,
                                              rgba(63, 218, 216, 1) 12%,
                                              rgba(47, 201, 226, 1) 10%,
                                              rgba(28, 127, 238, 1) 16%, #9C27B0 34%, #00BCD4 90%);
        /* background: repeating-linear-gradient(1deg, rgba(255, 154, 0, 1) 5%,
                                                    rgba(208, 222, 33, 1) 50px, transparent 20px,
                                                    rgba(79, 220, 74, 1) 50px,  transparent 100px,
                                                    rgba(63, 218, 216, 1) 50px, transparent 20px,
                                                    rgba(47, 201, 226, 1) 50px, transparent 20px,
                                                    rgba(28, 127, 238, 1) 50px, transparent 20%,
                                                    rgba(95, 21, 242, 1) 20%,   transparent 20px, #9C27B0 71%, transparent 20px, #00BCD4 97%, transparent 32px,
                                                    rgba(255, 0, 0, 1) 123%,    transparent 40px
                                              ); */
}
/* BACKGROUND ELEMENTS X,Y ,axis */
.bander-y{
  position: absolute;
  top: 0%;
  left: 6%;
  background: gold;
  color: black;
}
.bander-x{
  position: absolute;
  top: 20%;
  right: 0%;
  background: gold;
  color: black;
}
.vertical-line{
  position: absolute;
  top: 0;
  left: 5%;
  width: 2px;
  height: 100%;
  /* background: snow; */
  z-index: -1;
}
.horizontal-line{
  position: absolute;
  top: 12pc;
  left: 0;
  width: 100%;
  height: 5px;
  background: snow;
}

/* HUGE SCREEN */
@media screen and (min-width: 900px) {
  .super-container{
    width: 65vh;
    margin: 0 auto;
  }
}
/* MOBILE SCREENS */
@media only screen and (max-width: 600px) {
  .flexed {
    display: block;
  }
  .stock-img{
    width: auto;
  }
  td{
    border-bottom: 2px solid #c0c0c05c;
  }
  .super-container{
    padding: 0;
  }
  .container-intro{
    padding: 10%;
  }
  .settings{
    margin-top: 10%;
  }
}
