html { height: 100%; cursor: default; font-family: Arial;}
body{ padding: 0; margin: 0; background: #141313;  min-height: 100%;}
td{
  color: black; background: orange; outline: none; text-align:center;
  border: none; padding: 0; margin: 0; font-size: 30px;
  touch-action: manipulation;
  outline: 1.5px solid #ffa500d1;
}
td:hover{box-shadow: inset 0 0 3px 0px black;}
td:active{color: #999; transition: 150ms;}
::selection{background: transparent;}
.calc-table{width: 100%;
  /* -webkit-fill-available;  */
  animation: slideFromBottom; animation-duration: .5s;}
.output{
    background: #141313;  outline:0;  color: #fff;  display: flex;
    border: 1px solid #141313;   overflow: scroll;  vertical-align: middle;
    font-size: 88px;  position: absolute;   left: 0; border: 0;   z-index:1;
    border-bottom: 3px solid #2a2727;
    margin-top: -3px;
  }
.output:hover{box-shadow: none;}
.dead{background: #141313; border: 1px solid #141313; outline:0; color: #fff;z-index: -1;}
.dead:hover{box-shadow: none;}
.span-holder{
    position: absolute;
    top: 18%;
    left: 1%;
    z-index: 2;
    display: flex;
    width: 120px;
    justify-content: space-around;
    animation: fadeFromBlack 7s;
}
.historyBtn{ color: white; font-size: 85%; }
.historyBtn:hover{color:grey;}
.history-holder{animation: slideFromRight; animation-duration: .5s; overflow-y: scroll;}
.hist-calc{font-size: 250%; color: white;}
.hist-calc:hover{ color: silver;}
.carryBtn{color: white; font-size: 85%;}
.carryBtn:hover{color:grey;}
.on{color:deepskyblue;}
#pop{
  position: fixed;
  top: 3px;
  right: 3px;
  background: #0000009a;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1px 5px;
  animation: slideFromRight 1s;
}

@media(max-width: 511px){
  .carryBtn{ left: 3%; }
}
