:root{
    --textColor : rgb(227, 229, 232);
    --pastText  : rgb(132, 133, 136);
    --blue      : #43a7d7;
    --red       : rgb(202 99 109);
    --gold      : rgb(209 154 102);
    --green     : rgb(139 212 88);
    --atomGreen : rgb(150 193 120);
    --dark      : rgb(32, 33, 36);
    --purple    : #ad92e5;
    --goldish   : #ffdb81c4;
    --facebook-text-color : #e4e6ea;
    /* #1d1f22; */
}
*   { cursor: default;  }
html{ height: 100%; mix-blend-mode: darken; }
/* DEFAULTS CHANGES */
frame{ transition: 0.6s; }
button{background-color: transparent; color: #555;}
body{
   font-family: Menlo, monospace;
   /* color: var(--textColor); */
   overscroll-behavior-x: none;
   overscroll-behavior-y: none;
   padding-bottom: 10%;
   padding: 0;
   overflow-x:hidden;
   background: var(--purple);
   margin: 0;
   font-size: 95%;

   color: #1b1a1a78;
   font-family: Didot;
   font-size: x-large;

   /* background-image: url(stocks.png);
   background-repeat: no-repeat;
   background-size: 90%;
   background-position: top; */
}

.part-a{
  width: 100%;
  /* height: 50vh; */
  background: var(--purple);
  border-bottom: 4px solid #e5e6ea24;
  border-radius: 100% 23%;
  margin-bottom: 10%;
}
.part-b{
  width: 100%;
  height: 50vh;
  background: var(--facebook-text-color);
  /* border-radius: 8%; */
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.part-a > h1{
   text-align: center;
   margin: 15% 10%;
   font-size: 8vh;
}
.part-a > h4{
  text-align: center;
}
.part-a > p, .part-b > p, .part-c > p, .part-d > p{
  text-align: justify;
  margin: 0 auto;
  width: 50%;
  padding: 10%;
}

.part-b > p{
  border-top: 4px solid #695986;
}
.part-c > ul{
  width: 70%;
  margin: 0 auto;
  list-style: square;
}

.part-c{
  background: #9EC6F3;
  border-top: 16px solid #e5e6ea8f;
}
.part-d{
  background: #F2D9B3;
}

.part-d > p{
  border-top: 4px solid #695986;
}

@media (max-width: 700px){
  .part-a > p, .part-b > p, .part-c > p, .part-d > p{
    width: auto;
  }
  .part-b{
    padding-bottom: 10%;
  }
  .part-b > p {
    border-top: none;
  }
  .part-b {
    border-top: 4px solid #69598614;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
}
