:root{
  /* PASTEL COLORS */
  --mint : #98fbcb;
  --mauve : #e0afff;
  --babyBlue   : #8fd9fb;
  --magicMint  : #AAF0D1;
  --periwinkle : #ccccff;
  --lavander   : #d3d3ff;

  --softGold  : #b9be81;
  --beige : #d1bda0;
  --teal  : #3ae1e1;
  --earth : #4d5840;

  --nextMint : #7dffc0d6;
  --dark : #202124;
  --nextTextColor : #848588;
  --softLavander  : #d3d3ff4d;
}
*   { font-family: Menlo; }
html{ min-height: 100%;   }
body{
    min-height: 100%;
    width: 100%;
    position: fixed;
    background: var(--dark);
    color: var(--nextTextColor);
    margin: 0;
    cursor: default;
}
input{ outline: none; color: inherit; }
ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li{
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
select {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
}
select>option {}
.btn{
  background: transparent;
  border: none;
}
.btn:hover{
  transition: 0.25s;
  filter: brightness(50%);
}
/* EXTREMLY SIMPLE BUTTON */
.minimal-btn{
  background: transparent;
  color: var(--bluishGrey);
  border: none;
}
.minimal-btn:hover{
  transition: 0.25s;
  filter: brightness(50%);
}
.back{ -webkit-text-security: disc;}
.top-form { display: none; margin: 4px;  justify-content: space-evenly; }
.modified-date{float:right; font-size: 11px; padding-right: 5px;}
.main-div { animation: slideFromLeft .5s;}
.main-list{ padding-top: 5%; }
.main-li  { }
.main-li > span:first-child:hover{
  text-shadow: 0px 0px 0px var(--softLavander);
  color: transparent;
  transition: .25s;
}
.sub-div{
  display: none;
  animation: slideFromRight .5s;
}
.sub-list{
  overflow-y: scroll;
  height: 555px;
  overflow-x: hidden;
  transition: 1s;
  padding: 1%;
  height: 91vh;
}
.sub-li{
  overflow-y: hidden;
  animation: slideFromRight 1s;
  height: fit-content;
  align-self: center;
  position: relative;
  outline: 1px solid #84858854;
  min-height: calc(46vh);
  max-height: calc(100vh / 5);
}
.done{
  text-decoration: line-through;
  filter: opacity(0.35);
}
.to-edit{
  white-space: pre-wrap;
  width: 75%;
  text-shadow: 0px 0px 0.5px;
  overflow-wrap: anywhere;
}
.copy-task-text{
   position: absolute;
   top:  0;
   left: 4px;
   transform: rotateX(180deg) scale(.75);
}
.noti{
  position: absolute;
  bottom: 10px;
  left: 41vw;
  width: fit-content;
  max-width: 200px;
  background: #ccccff87;
  outline: 1px solid black;
  color: black;
  border-radius: 5px;
  font-weight: 100;
  padding: 1px 5px;
  font-size: 90%;
  animation: slideFromBottom 1s;
  display: none;
}
.sub-li > div{
  display: grid;
  overflow: scroll;
  max-height: -webkit-fill-available;
}
.controls{
  display: flex;
  justify-content: space-between;
  width: 98%;
  padding: 0 10px;
}
.controls > input{ font-size: xx-large; }

.delete-me{ font-size: 33px; text-shadow: none; }

[contenteditable='true']{
  outline: none;
}
::selection{
  /* background: #d3d3ff4d;  /* SOFT-lavander */
  background: #d3d3ff4d;
  color: #0b0b0b;
}

.grid-view{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-view > li > .to-edit{
  overflow: scroll;
  max-height: calc(100vh / 2.5);
  border-radius: 10px;
}

.table-view{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.table-view > .sub-li{
  min-height: 25vw;
}

.micro-holder{
  justify-content: center;
  display: grid;
  gap: 10px;
  min-width: 50px;
  grid-template-columns: repeat(5, 2fr);
}
.micro{
  width: 4px;
  height: 4px;
  font-size: 0px;
  display: block;
  background: var(--nextTextColor);
  border-radius: 100px;
}
.task-colors-holder{
  display: flex;
}
.color-div{
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: self-end;
}
.color-div:first-child{
  outline: 2.5px solid;
  outline-offset: -2.5px;
}

.net{
  background: transparent !important;
  background-image: linear-gradient(0deg, black, transparent 1px), linear-gradient(90deg, black, transparent 1px) !important;
  background-size: 1% 1% !important;
  background-position: center;
  position: relative;
  transition: 0.5s;
}
.to-edit:not(.net){
  transition: 0.5s;
}
.net::after{
  content: "⬇︎";
  top: 45%;
  position: absolute;
  left: 45%;
  font-size: 100px;
  color: var(--textColor);
}

#pop{
  position: fixed;
  top: 1%;
  right: 1%;
  background: #0000008f;
  color: var(--textColor);
  padding: 1vw 3vw;
  outline: 2px solid #fdfdfd24;
  border-radius: 10px;
  font-family: Menlo, monospace;
  font-size: 13px;
  border-radius: 7px;
  display: flex;
  z-index: 100;
}

@keyframes slideFromRight {  /* SLIDE FROM RIGHT */
  from {transform: translate(300px);}
  to   {transform: translate(0);}
}
@keyframes slideFromLeft { /* SLIDE FROM LEFT */
  from {transform: translate(-100px);}
  to   {transform: translate(0);}
}
@keyframes slideFromBottom {  /* SLIDE FROM BOTTOM */
  from {transform: translate(0, 300px);}
  to   {transform: translate(0);}
}
@keyframes zoomOut {  /* ZOOM OUT */
  from {transform: scale(3);}
  to   {transform: translate(1);}
}
@keyframes willItGo {  /* PULSE */
  0%   { filter:opacity(50%);    }
  10%  { transform: scale(0.5);  }
  20%  { transform: scale(0.7);  }
  30%  { transform: scale(0.3);  }
  40%  { transform: scale(0.5);  }
  50%  { transform: scale(0.4);  }
  60%  { transform: scale(0.3);  }
  70%  { transform: scale(0.2);  }
  80%  { transform: scale(0.1);  }
  90%  { transform: scale(0);    }
  100% { filter:opacity(100%);   }
}
@keyframes deletedFromRight {  /*CLIP AWAY RIGHT TO LEFT*/
  0% { clip-path: inset(0 0 0 0);      animation-fill-mode: forwards; }
  100% {clip-path: inset(0 100% 0 0);  animation-fill-mode: forwards; }
}
@keyframes deletedFromLeft {  /*CLIP AWAY RIGHT TO LEFT*/
  0% { clip-path: inset(0 0 0 0); }
  100% {clip-path: inset(0 0 0 100%); }
}
@keyframes understood {  /*BLINK*/
  0%   { mix-blend-mode: normal; transform: translate(0px, 0px);  }
  50%  { mix-blend-mode: color-dodge; transform: translate(0px, 100px);  }
  100% { mix-blend-mode: normal; transform: translate(0px, 0px); }
}
@keyframes shake {
  0%   { filter:opacity(30%); transform: translate(1px, 1px) rotate(0deg); }
  10%  { transform: translate(-1px, -2px) rotate(-1deg);                   }
  20%  { transform: translate(-3px, 0px) rotate(1deg);                     }
  30%  { transform: translate(3px, 2px) rotate(0deg);                      }
  40%  { transform: translate(1px, -1px) rotate(1deg);                     }
  50%  { transform: translate(-1px, 2px) rotate(-1deg);                    }
  60%  { transform: translate(-3px, 1px) rotate(0deg);                     }
  70%  { transform: translate(3px, 1px) rotate(-1deg);                     }
  80%  { transform: translate(-1px, -1px) rotate(1deg);                    }
  90%  { transform: translate(1px, 2px) rotate(0deg);                      }
  100% { transform: translate(1px, -2px) rotate(-1deg);                    }
}

@media (min-width: 800px) {
  .main-list{
    max-width: 60vw;
    margin: 0 auto;
  }
}

/* MOBILE */
@media(max-width: 611px){
   .task-colors-holder{
     position: static;
   }
}
