:root{
  /* PASTEL COLORS */
  --mint : #98fbcb;
  --mauve : #e0afff;
  --babyBlue   : #8fd9fb;
  --magicMint  : #AAF0D1;
  --periwinkle : #ccccff;
  --lavander   : #d3d3ff;

  --softGold  : #b9be81;
  --beige : #d1bda0;
  --teal  : #3ae1e1;
  --earth : #4d5840;

  --nextMint : #7dffc0d6;
  --dark : #202124;
  --nextTextColor : #848588;
  --softLavander  : #d3d3ff4d;
}
*   { font-family: Menlo; }
html{ min-height: 100%;   }
body{
    min-height: 100%;
    /* height:     96vh; */
    background: var(--dark);
    color: var(--nextTextColor);
    margin: 0;
    cursor: default;
}
input{ outline: none; }
ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li{
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn{
  background: transparent;
  color: silver;
  border: none;
}
.btn:hover{
  transition: 0.25s;
  filter: brightness(50%);
}
/* EXTREMLY SIMPLE BUTTON */
.minimal-btn{
  background: transparent;
  color: var(--bluishGrey);
  border: none;
}
.minimal-btn:hover{
  transition: 0.25s;
  filter: brightness(50%);
}
.back{ -webkit-text-security: disc;}
.top-form { display: none; margin: 4px;  justify-content: space-evenly; }
.modified-date{float:right; font-size: 11px; padding-right: 5px;}
.main-div { animation: slideFromLeft .5s;}
.main-list{ padding-top: 5%; }
.main-li  { }
.main-li > span:first-child:hover{
  text-shadow: 0px 0px 0px var(--softLavander);
  color: transparent;
  transition: .25s;
}
.sub-div{
  display: none;
  animation: slideFromRight .5s;
}
.sub-list{
  overflow-y: scroll;
  height: 555px;
  overflow-x: hidden;
  transition: 1s;
}
.sub-li{
  overflow-y: hidden;
  animation: slideFromRight 1s;
  height: fit-content;
  align-self: center;
}
.is-done{ font-size: larger; }
.sub-is-done{
  /* background: var(--nextMint); */
  color: black;
  font-weight: 700;
}
.done{ text-decoration: line-through; }
.to-edit{
  white-space: pre-wrap;
  width: 65%;
  max-width: 65%;
  padding: 5%;
  border: 1px solid var(--dark);
  text-shadow: 0px 0px 0.5px;
}
.controls{
  display: flex;
  justify-content: space-between;
  bottom: 2%;
}
.delete-me{ font-size: 33px; text-shadow: none; }
.delete-me:hover{ color: indianred; }
.controls{ padding: 0 10px; }
.controls > input{ font-size: xx-large; }

[contenteditable='true']{
  outline: none;
}
::selection{
  /* background: #d3d3ff4d;  /* SOFT-lavander */
  /* color: #c8c0c0; */
  background: #d3d3ff4d;
  color: #0b0b0b;
}

.grid-view{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-view > li > .to-edit{
  height: 80%;
  overflow: scroll;
  max-height: 80vh;
}
.micro-holder{
  justify-content: center;
  display: grid;
  gap: 10px;
  min-width: 50px;
  grid-template-columns: repeat(5, 2fr);
}
.micro{
  width: 4px;
  height: 4px;
  font-size: 0px;
  display: block;
  background: var(--nextTextColor);
  border-radius: 100px;
}
.task-colors-holder{
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}
.color-div{
  /* border-radius: 100px; */
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: self-end;
}
.color-div:first-child{
  outline: 1px solid;
  outline-offset: -1px;
}

@keyframes slideFromRight {  /* SLIDE FROM RIGHT */
  from {transform: translate(300px);}
  to   {transform: translate(0);}
}
@keyframes slideFromLeft { /* SLIDE FROM LEFT */
  from {transform: translate(-100px);}
  to   {transform: translate(0);}
}
@keyframes zoomOut {  /* ZOOM OUT */
  from {transform: scale(3);}
  to   {transform: translate(1);}
}
@keyframes willItGo {  /* PULSE */
  0%   { filter:opacity(50%);    }
  10%  { transform: scale(0.5);  }
  20%  { transform: scale(0.7);  }
  30%  { transform: scale(0.3);  }
  40%  { transform: scale(0.5);  }
  50%  { transform: scale(0.4);  }
  60%  { transform: scale(0.3);  }
  70%  { transform: scale(0.2);  }
  80%  { transform: scale(0.1);  }
  90%  { transform: scale(0);    }
  100% { filter:opacity(100%);   }
}
@keyframes deletedFromRight {  /*CLIP AWAY RIGHT TO LEFT*/
  0% { clip-path: inset(0 0 0 0);      animation-fill-mode: forwards; }
  100% {clip-path: inset(0 100% 0 0);  animation-fill-mode: forwards; }
}
@keyframes deletedFromLeft {  /*CLIP AWAY RIGHT TO LEFT*/
  0% { clip-path: inset(0 0 0 0); }
  100% {clip-path: inset(0 0 0 100%); }
}
@keyframes understood {  /*BLINK*/
  0%   { mix-blend-mode: normal; transform: translate(0px, 0px);  }
  50%  { mix-blend-mode: color-dodge; transform: translate(0px, 100px);  }
  100% { mix-blend-mode: normal; transform: translate(0px, 0px); }
}
@keyframes shake {
  0%   { filter:opacity(30%); transform: translate(1px, 1px) rotate(0deg); }
  10%  { transform: translate(-1px, -2px) rotate(-1deg);                   }
  20%  { transform: translate(-3px, 0px) rotate(1deg);                     }
  30%  { transform: translate(3px, 2px) rotate(0deg);                      }
  40%  { transform: translate(1px, -1px) rotate(1deg);                     }
  50%  { transform: translate(-1px, 2px) rotate(-1deg);                    }
  60%  { transform: translate(-3px, 1px) rotate(0deg);                     }
  70%  { transform: translate(3px, 1px) rotate(-1deg);                     }
  80%  { transform: translate(-1px, -1px) rotate(1deg);                    }
  90%  { transform: translate(1px, 2px) rotate(0deg);                      }
  100% { transform: translate(1px, -2px) rotate(-1deg);                    }
}
