:root{
  /* PASTEL COLORS */
  --mint : #98fbcb;
  --mauve : #e0afff;
  --babyBlue   : #8fd9fb;
  --magicMint  : #AAF0D1;
  --periwinkle : #ccccff;
  --lavander   : #d3d3ff;
    /* Warm & Sunny */
  --apricot: #FFDAB9;       /*(A soft, creamy orange)*/
  --lemonChiffon: #FFFACD; /*(A very pale, airy yellow)*/
  --peach: #FFCCBB;        /*(Warm but muted)*/
  --roseQuartz: #F7CAC9;   /*(A classic, dusty pale pink)*/
     /* Earthy & Neutral */
  --dustyRose: #E4B4B4;  /* (A slightly deeper, more sophisticated pink)*/
  --sage: #D1E8D1;       /* (A very muted, greyish green)*/
  --linen: #FAF0E6;      /* (A clean, warm off-white)*/
     /* Cool & Fresh */
  --paleAqua: #BCD4E6;   /* (Crisp and clean, sits between blue and grey)*/
  --pistachio: #E2F3E4;  /* (A lighter, milkier version of your magic mint)*/
  --thistle: #D8BFD8;    /* (A pale purple that leans toward grey)*/
  --skyMist: #E0FFFF;    /* (A very light, "icy" blue)*/
  --softGold  : #b9be81;
  --beige : #d1bda0;
  --teal  : #55c7c7f7;
  /* #34c1c1;  */
   /* #3ae1e1; */
  --earth : #4d5840;

  --nextMint : #7dffc0d6;
  --dark : #202124;
  --nextTextColor : #848588;
  --softLavander  : #d3d3ff4d;

  --braveConsole : #282828;
  --atomWorkspace : #21252b;
}
*   { font-family: Menlo; }
html{ min-height: 100%;   }
body{
    min-height: 100%;
    width: 100%;
    position: fixed;
    background: var(--atomWorkspace);
    color: var(--nextTextColor);
    margin: 0;
    cursor: default;
    user-select: none;
}
input{ outline: none; color: inherit; }
ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li{
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
select {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  max-width: 110px;
}
select>option {}
.btn{
  background: transparent;
  border: none;
}
.btn:hover{
  transition: 0.25s;
  filter: brightness(50%);
  cursor: pointer;
}
/* EXTREMLY SIMPLE BUTTON */
.minimal-btn{
  background: transparent;
  color: var(--bluishGrey);
  border: none;
}
.minimal-btn:hover{
  transition: 0.25s;
  filter: brightness(50%);
}
.back{ -webkit-text-security: disc;}
.top-form {
  display: none;
  margin-top: 1%;
  justify-content: space-evenly;
  overflow-x: scroll;
  gap: 10px;
}
.top-form > input{
  font-size: min(4vw, 1rem);
}
.modified-date{float:right; font-size: 11px; padding-right: 5px;}
.main-div { animation: slideFromLeft .5s;}
.main-list{ padding-top: 5%; }
.main-li  { }
.main-li > span:first-child:hover{
  text-shadow: 0px 0px 0px var(--softLavander);
  color: transparent;
  transition: .25s;
}
.sub-div{
  display: none;
  animation: slideFromRight .5s;
  margin: 1%;
  height: calc(100vh - 12vh);
}
.sub-list{
  overflow-x: hidden;
  transition: 1s;
  padding: 0;
}
.sub-li{
  overflow-y: hidden;
  animation: slideFromRight 1s;
  height: fit-content;
  align-self: center;
  position: relative;
  outline: 1px solid #dddddd21;
  outline-offset: -1px;
  background: var(--atomWorkspace);
  max-height: 200px;
  /* border: .5px solid; */
}
.sub-li:active{
  /* box-shadow: 0px 3px 10px 2px;
  transform: translate(0px, -5px); */
  cursor: grabbing;
}
.sub-li > div{
  display: grid;
  overflow: scroll;
  max-height: -webkit-fill-available;
}
.list-view{
  /* max-height: 400px;
  overflow-y: scroll; */
}
.grid-view{
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: min-content;
}
.grid-view > li{
  min-height: 400px;
  max-height: 400px;
}
.grid-view > li > .to-edit{
  overflow: scroll;
  border-radius: 10px;
}
.planner-holder{
  max-height: 400px;
  overflow-y: scroll;
}
.table-view, .planner-holder{
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: min-content;
}
.table-view > .sub-li,
.planner-field{
  min-height: 200px;
  height: 200px;
}
.is-done{
  padding-left: 10px;
}
.done{
  text-decoration: line-through;
  filter: opacity(0.35);
}
.to-edit{
  white-space: pre-wrap;
  width: 75%;
  text-shadow: 0px 0px 0.5px;
  overflow-wrap: anywhere;
  margin: 4vh 0 10px 0;
}
.task-menu{
  position: absolute;
  top:  0;
  left: 4px;
  grid-auto-flow: column;  /*it inherits grid so just use this*/
  gap: 5px;
  align-items: center;
}
.copy-task{
  font-size: 30px;
  transform: rotateX(180deg) scale(.75);
}
.cal-task{
  font-size: 13px;
  align-content: center;
}
.pre-task{
  font-size: 25px;
  line-height: 2;
}
.pre-struct{
  min-height: min-content;
}
.pre-struct > .to-edit{
  white-space: pre;
  font-size: 17px!important;
}

.planner-field{
  outline: 1px solid #dddddd21;
  outline-offset: -1px;
  background: transparent;
  position: relative;
}
.planner-field::before{
  content: attr(slot);
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: Brush Script MT;
}
.planner-field.help-field::after{
  content: attr(help-text);
  position: absolute;
  bottom: 5px;
  left: 1px;
  font-size: 23px;
  font-style: italic;
  font-family: Brush Script MT;
  padding: 8px;
  color: #ffebcdcc;
}

.noti{
  position: fixed;
  bottom: -7px;
  height: 35px;
  line-height: 2;
  left: 41vw;
  width: fit-content;
  max-width: 200px;
  background: #ccccff87;
  outline: 1px solid black;
  color: black;
  border-radius: 5px;
  font-weight: 100;
  padding: 1px 5px;
  font-size: 90%;
  animation: slideFromBottom 1s;
  display: none;
  z-index: 100;
}
.lists-controls{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1%;
  padding: 0 15px;
}
.tasks-controls{
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 5vh;
  position: fixed;
  bottom: 0px;
  background: var(--atomWorkspace);
  border-top: 1px solid #383d44;
}
.lists-controls > input,
.tasks-controls > input{
  font-size: xx-large;
}
.delete-task, .delete-sub-list{
  font-size: 33px;
  text-shadow: none;
  padding-right: 10px;
}

[contenteditable='true']{
  outline: none;
}
::selection{
  /* background: #d3d3ff4d;  /* SOFT-lavander */
  background: #d3d3ff4d;
  color: #0b0b0b;
}
.micro-holder{
  justify-content: center;
  display: grid;
  gap: 10px;
  min-width: 50px;
  grid-template-columns: repeat(5, 2fr);
}
.micro{
  width: 4px;
  height: 4px;
  font-size: 0px;
  display: block;
  background: var(--nextTextColor);
  border-radius: 100px;
}
.task-colors-holder{
  display: flex;
  align-items: center;
}
.color-div{
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: self-end;
}
.color-div:first-child{
  outline: 2px solid #41444d;
  outline-offset: -2px;
}

.net{
  background: transparent !important;
  background-image: linear-gradient(0deg, #ccccff63, transparent 2px), linear-gradient(90deg, #ccccff47, transparent 2px) !important;
  background-size: 20.7px 20px !important;
  position: relative;
  transition: 0.5s;
}
.to-edit:not(.net){
  transition: 0.5s;
}
.net::after{
  content: "⬇︎";
  bottom: 0%;
  position: absolute;
  right: 0;
  font-size: 40px;
  color: var(--textColor);
}
/* SCROLLBARS */
::-webkit-scrollbar { width: 2.5px; height: 2.5px; }
::-webkit-scrollbar-corner { background: transparent;}

@keyframes slideFromRight {  /* SLIDE FROM RIGHT */
  from {transform: translate(300px);}
  to   {transform: translate(0);}
}
@keyframes slideFromLeft { /* SLIDE FROM LEFT */
  from {transform: translate(-100px);}
  to   {transform: translate(0);}
}
@keyframes slideFromBottom {  /* SLIDE FROM BOTTOM */
  from {transform: translate(0, 300px);}
  to   {transform: translate(0);}
}
@keyframes zoomOut {  /* ZOOM OUT */
  from {transform: scale(3);}
  to   {transform: translate(1);}
}
@keyframes willItGo {  /* PULSE */
  0%   { filter:opacity(50%);    }
  10%  { transform: scale(0.5);  }
  20%  { transform: scale(0.7);  }
  30%  { transform: scale(0.3);  }
  40%  { transform: scale(0.5);  }
  50%  { transform: scale(0.4);  }
  60%  { transform: scale(0.3);  }
  70%  { transform: scale(0.2);  }
  80%  { transform: scale(0.1);  }
  90%  { transform: scale(0);    }
  100% { filter:opacity(100%);   }
}
@keyframes deletedFromRight {  /*CLIP AWAY RIGHT TO LEFT*/
  0% { clip-path: inset(0 0 0 0);      animation-fill-mode: forwards; }
  100% {clip-path: inset(0 100% 0 0);  animation-fill-mode: forwards; }
}
@keyframes deletedFromLeft {  /*CLIP AWAY RIGHT TO LEFT*/
  0% { clip-path: inset(0 0 0 0); }
  100% {clip-path: inset(0 0 0 100%); }
}
@keyframes understood {  /*BLINK*/
  0%   { mix-blend-mode: normal; transform: translate(0px, 0px);  }
  50%  { mix-blend-mode: color-dodge; transform: translate(0px, 100px);  }
  100% { mix-blend-mode: normal; transform: translate(0px, 0px); }
}
@keyframes shake {
  0%   { filter:opacity(30%); transform: translate(1px, 1px) rotate(0deg); }
  10%  { transform: translate(-1px, -2px) rotate(-1deg);                   }
  20%  { transform: translate(-3px, 0px) rotate(1deg);                     }
  30%  { transform: translate(3px, 2px) rotate(0deg);                      }
  40%  { transform: translate(1px, -1px) rotate(1deg);                     }
  50%  { transform: translate(-1px, 2px) rotate(-1deg);                    }
  60%  { transform: translate(-3px, 1px) rotate(0deg);                     }
  70%  { transform: translate(3px, 1px) rotate(-1deg);                     }
  80%  { transform: translate(-1px, -1px) rotate(1deg);                    }
  90%  { transform: translate(1px, 2px) rotate(0deg);                      }
  100% { transform: translate(1px, -2px) rotate(-1deg);                    }
}

@media (min-width: 800px) {
  .main-list{
    max-width: 60vw;
    margin: 0 auto;
  }
}

/* MOBILE */
@media(max-width: 611px){
   .task-colors-holder{
     position: static;
   }
}
