:root{
  --noneColor : #282c32;
  /* PASTEL COLORS */
  --mint : #98fbcb;
  --mauve : #e0afff;
  --babyBlue   : #8fd9fb;
  --magicMint  : #AAF0D1;
  --periwinkle : #ccccff;
  --lavander   : #d3d3ff;
    /* Warm & Sunny */
  --apricot: #FFDAB9;       /*(A soft, creamy orange)*/
  --lemonChiffon: #FFFACD; /*(A very pale, airy yellow)*/
  --peach: #FFCCBB;        /*(Warm but muted)*/
  --roseQuartz: #F7CAC9;   /*(A classic, dusty pale pink)*/
     /* Earthy & Neutral */
  --dustyRose: #E4B4B4;  /* (A slightly deeper, more sophisticated pink)*/
  --sage: #D1E8D1;       /* (A very muted, greyish green)*/
  --linen: #FAF0E6;      /* (A clean, warm off-white)*/
     /* Cool & Fresh */
  --paleAqua: #BCD4E6;   /* (Crisp and clean, sits between blue and grey)*/
  --pistachio: #E2F3E4;  /* (A lighter, milkier version of your magic mint)*/
  --thistle: #D8BFD8;    /* (A pale purple that leans toward grey)*/
  --skyMist: #E0FFFF;    /* (A very light, "icy" blue)*/
  --softGold  : #b9be81;
  --beige : #d1bda0;
  --teal  : #65e3e3;
  --earth : #4d5840;

  --japNoteBlueDark : #d2eae7;
  --japNotePurple   : #d1cad6;

  --nextMint : #7dffc0d6;
  --dark : #202124;
  --nextTextColor : #848588;
  --softLavander  : #d3d3ff4d;

  --braveConsole : #282828;

  --atomWorkspace : #21252b;
  --atomLines     : #dddddd21;
  --glassAtomBack : #21252ba8;
    /* backdrop-filter: blur(31px); */
  /* Faint lines in app */
  --faintDark : #3b3d43;
  --claudAccentBlue : #3886e5;
  --original-marker-color : #FFFF00;

  /* ALTERNATIVE MORE FEM */
  --roseBackground : #a2656587;
  --roseLines : #8063638a;
  --roseText  : #21252b9c;


  --themeBackground : var(--atomWorkspace);
  --themeLines : var(--atomLines);
  --themeColor : var(--nextTextColor);
}
*, *::after, *::before {
  box-sizing: border-box;
  font-family: Menlo;
  caret-shape: block;
  caret-color: #ffccbb;
  caret-animation: manual;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='10' stroke='%233886e5' stroke-width='1' fill='%233886e5' fill-opacity='0.2'/%3E%3C/svg%3E") 16 16, none !important;
}
html{
  min-height: 100%;
}
body{
  min-height: 100%;
  width: 100%;
  position: fixed;
  background: var(--themeBackground);
  color: var(--themeColor);
  margin: 0;
  user-select: none;
}
input{
  outline: none;
  color: inherit;
  color-scheme: dark;
}
ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li{
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
select {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  display: grid;
  justify-self: center;
}
mark{
  clip-path: polygon(2% 2%, 100% 0%, 98% 100%, 0% 100%);
  text-shadow: none;
}
input[type="radio"] {
  width: 10px;
  height: 10px;
  border: 2px solid #21252b;
  border-radius: 50%;
  transition: all 0.2s ease;
  background-color: #ffffff40;
  box-shadow: inset 0 0 0 5px #444952;
}
input[type="radio"]:checked {
  border-color: var(--periwinkle);
  background-color: var(--atomWorkspace);
  box-shadow: inset 0 0 0 5px #ccccff;
}
input[type="radio"]:hover {
  outline: 6px solid var(--themeLines);
  outline-offset: 4px;
  transform: rotate(45deg);
}
[contenteditable='true']{
  outline: none;
}
::selection{
  background: var(--claudAccentBlue);
  color: var(--periwinkle);
}
/* REGULAR SIMPLLE BUTTON OFTEN TEXT/SYMBOL/CHAR */
.btn{
  background: transparent;
  border: none;
}
.btn:hover{
  transition: 0.25s;
  filter: brightness(50%);
}
/* EXTREMLY SIMPLE BUTTON */
.minimal-btn{
  background: transparent;
  color: var(--bluishGrey);
  border: none;
}
.minimal-btn:hover{
  transition: 0.25s;
  filter: brightness(50%);
}
/* SIDEBAR WHERE additional controls exist as marker, task-back-colors ... */
.sidebar{
  display: none;
  width: 35px;
  position: fixed;
  right: 0;
  top: 0;
  height: 99vh;
  display: grid;
  z-index: 100;
  background: #383d4570;
  animation: slideFromBottom 1s;
  color: var(--thistle);
  border-bottom-left-radius: 10px;
}
.sidebar > div{
  display: grid;
  max-width: 35px;
  justify-content: center;
  align-content: end;
}
.reload{
  background: #d45151;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  z-index: 2;
  top: 0;
  line-height: 2.3;
  width: 26px;
  right: 4px;
}
.controls-holder, .tools-holder{
  display: flex;
  gap: 1vw;
}
.controls-holder{
  justify-items: center;
}
.theme-changer{
  max-height: 100px;
  font-size: small;
}
/* MAIN-DIV HOLDS LIST & LIST-CONTROLS */
.main-div { animation: slideFromLeft .5s;}
.main-list{ padding-top: 5%; min-height: 87vh; height: calc(100vh - 70px); }
.main-li > span:first-child:hover{
  text-shadow: 0px 0px 0px var(--softLavander);
  color: transparent;
  transition: .25s;
}
/* SUB-DIV HOLDS PLANNER-FIELD, SUB-LIST, TASKS-CONTROLS ... */
.sub-div{
  display: none;
  animation: slideFromRight .5s;
  margin: 20px;
  height: calc(100vh - 12vh);
  align-content: baseline;
  max-width: 95%;
  position: relative;
  margin-top: 40px;
}
.sub-list{
  overflow-x: hidden;
  transition: 1s;
  min-height: 18vh;
  background: radial-gradient(circle, var(--themeLines) 10% 10%, transparent 20%), linear-gradient(0deg, var(--themeLines), transparent 2px), linear-gradient(90deg, var(--themeLines), transparent 2px);
  background-size: 10px 10px, 0px 10px, 220.8px 10px;
  height: 400px;
  background-position: 0px 0px;
  overflow-y: scroll;
  border-top: 2px dotted var(--themeLines);
  border-top: 2px dotted #0000008a;
  box-sizing: border-box;
  padding-bottom: 30px;
}
.sub-list:not(.list-view) > .sub-li:not(.full-screen) > .task-menu{
  width: -webkit-fill-available;
  justify-content: space-around;
}

/* LISTS & TASKS CONTROLS */
.lists-controls{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}
.tasks-controls{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top : 0;
  width: 48.5vw;
}
.lists-controls > input,
.tasks-controls > input{
  font-size: 3vh;
}
.plus-task{
  color: #e4b4b4;
  filter: brightness(1.1);
  text-shadow: 0px 1px 2px #0000005e;
}

/* SMALL RIGHT BOTTOM ELEMENT CONTROLLING SUB-LIST background style */
.sub-list-adjuster{
  display: none;
  width: 100px;
  font-size: 12px;
  outline: none;
  border: none;
  right: 22px;
  position: fixed;
  bottom: 0;
  transform: scale(0.55);
}

.sub-li{
  overflow-y: hidden;
  align-self: center;
  position: relative;
  outline-offset: -1px;
  background: var(--noneColor);
  max-height: 100px;
  height: 100px;
  outline: 2px solid #96a0ae21;

  animation: expandHeight 0.5s cubic-bezier(0.56, 0.55, 0.74, 0.05);
  animation-direction: reverse;

  transition: max-height 0.5s cubic-bezier(0.25, 1, 0.5, 1),
              width 0.5s cubic-bezier(0.25, 1, 0.5, 1),
              height 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  display: grid;
  gap:  10px;
  grid-template-columns: 1fr 7fr 1fr;
  align-content: center;
  justify-items: anchor-center;
}
.editable-wrapper{
  grid-column: 2;
  display: flex;
  gap: 8px;
  height: 70%;
  max-height: 70%;
  align-self: end;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  justify-self: stretch;
  width: 100%;
  margin-bottom: 5px;
  overflow: scroll;
}
/* PLACEHOLDER FOR SUB-LI WHEN THERE IS NO TEXT IN IT */
.is-empty::before {
  content: attr(placeholder);
  color: inherit;
  pointer-events: none;
  font-weight: 100;
  font-family: Brush Script MT;
  letter-spacing: 3px;
  filter: opacity(0.5);
  font-size: 25px;
}
/* Hide it immediately when the user clicks inside to type */
.is-empty:focus::before {
  content: "";
}
/* DIFFERENT VIEWS OF SUB-LIST */
.list-view{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: baseline;
}
.list-view > .sub-li:not(.full-screen) > .editable-wrapper{
    height: 60%;
}
.pillar-view{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: min-content;
}
.pillar-view > li{
  min-height: 400px;
  max-height: 400px;
  height: 400px;
}
.pillar-view > li > .to-edit{
  overflow: scroll;
  border-radius: 10px;
}
.planner-holder{
  min-height: 600px;
  max-height: 600px;
  overflow-y: scroll;
}
.table-view, .planner-holder{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: min-content;
}
.table-view > .sub-li{
  min-height: 200px;
  height: 200px;
  max-height: 200px;
}
/* PLANNER-HOLDER & PLANNER-FIELDS (top part where you can pin tasks) */
.planner-field > .sub-li:not(.full-screen) > .editable-wrapper{
  height: 60%;
}
.planner-field{
  min-height: 200px;
  height: 200px;
  max-height: 200px;
}
 /* REGULAR PLANNER FIELD > SUB-li takes 50% of height aka 2 can be set */
.planner-field > .sub-li{
  max-height: 50%;
  height: 50%;
  outline: 0px solid #96a0ae21;
}
.planner-field.super-condense > .sub-li{
  max-height: 20%;
  height: 20%;
}
.planner-field.super-condense > .sub-li:not(.full-screen) > .task-menu{
  background: inherit;
  z-index: 1;
  width: -webkit-fill-available;
  justify-content: space-between;
  gap : 4px;
}
.super-condense > .sub-li:not(.full-screen) > .editable-wrapper{
  width: 120%;
  margin-left: -9px;
  z-index: 2;
  background: inherit;
}
.super-condense > .sub-li:not(.full-screen) > .editable-wrapper > .to-edit{
  font-size: 15px !important;
}
.planner-field > .sub-li:not(.full-screen):after{
  content: "";
  width: 17px;
  height: 24px;
  position: absolute;
  left: -7px;
  bottom: 0px;
  color: #00000069;
  transform: rotate(-45deg) translate(0px, 0px);
  font-size: 24px;
  line-height: 1.3;
  box-shadow: 1px 1px 14px;
}
.planner-field > .sub-li > .task-menu > .cal-task{
  max-height: 25px;
  width: 47px;
}
.planner-field{
  outline: 1px solid var(--themeLines);
  outline-offset: -1px;
  background: transparent;
  position: relative;
}
.planner-field::before{
  content: attr(slot);
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: Brush Script MT;
  outline: 1px solid var(--faintDark);
  width: 85%;
  padding: 0 5px;
  text-align: right;
  border-radius: 3px;
  outline-offset: -20px;
}
.planner-field.help-field::after{
  content: attr(help-text);
  position: absolute;
  bottom: 5px;
  left: 1px;
  font-size: 23px;
  font-style: italic;
  font-family: Brush Script MT;
  padding: 8px;
  color: #ffebcdcc;
  z-index: -1;
}

/* TASK THAT IS DONE */
.is-done{
  padding-left: 10px;
}
[done="true"] > .editable-wrapper > .to-edit{
  text-decoration: line-through;
  filter: opacity(0.5);
}

/* SUB-LI elements */
.delete-task, .delete-sub-list{
  font-size: 33px;
  text-shadow: none;
  padding-right: 10px;
}
.to-edit{
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  outline: none;
  flex: 1;
  height: 100%;
  max-height: 100%;
  min-width: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  text-align: left;
  min-height: fit-content;
}
.task-menu{
  position: absolute;
  top: 0;
  left: 4px;
  gap: 6px;
  align-items: center;
  height: 40px;
  display: flex;
  overflow-y: hidden !important;
  overflow-x: hidden;
  font-size: 18px;
}
.copy-task{
  font-size: 30px;
  transform: rotateX(180deg) scale(.75);
}
.cal-task{
  font-size: 13px;
  align-content: center;
}
.monther{
  font-size: 15px;
  align-content: center;
  letter-spacing: -3px;
}
.pre-task{
  font-size: 25px;
  line-height: 2;
}
.pre-struct{
  min-height: min-content;
}
.pre-struct > .editable-wrapper > .to-edit{
  white-space: pre-wrap;
  font-size: 17px !important;
  word-break: break-word;
  max-width: 100%;
}
.for-marked-list{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  border: 2px solid #9286864d;
  background: #e4b4b4;
  color: black;
  box-shadow: 0px 3px 6px #0000008f;
}
/* MARKED-LIST ELEMENT THAT HAS TO BE CREATED */
.for-marked-list-ul > li::before{
  content: "♥︎";
  width: 25px;
}
.marked-list{
  font-size: 25px;
}
.for-marked-list-ul > div{
  color : palevioletred;
}
/* INFO SPANS ALSO BELONG TO MARKED-LIST */
.info-span{
  user-select: none;
  pointer-events: none;
  margin: 5px 20px;
  background: rgb(111 95 95 / 69%);
  color: snow;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 15px;
}
.info-link{
  color: deeppink;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 2px;
  outline: 2px solid;
  border-radius: 5px;
  font-size: 13px;
}
.info-link:hover{
  filter: opacity(0.6);
}
.for-marked-list-ul{
  list-style: circle;
  color: snow;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  filter: saturate(.85) opacity(0.95);
  animation: expandHeight 0.5s cubic-bezier(0.56, 0.55, 0.74, 0.05);
  animation-direction: reverse;
}
.for-marked-list-ul > li{
  font-size: 20px;
  list-style: circle !important;
  outline: 1px solid #312b2b5e;
  border-radius: 5px;
  padding: 0 10px;
  width: -webkit-fill-available;
  color: black;
  margin: 3px 0;
  display: grid;
  grid-template-columns: .1fr 2fr .1fr .1fr;
  user-select: all;
  pointer-events: all;
}

/* NOTIFICATION  */
.noti{
  position: fixed;
  bottom: -7px;
  height: 35px;
  line-height: 2;
  width: fit-content;
  overflow-y: scroll;
  background: #ccccff87;
  outline: 1px solid black;
  color: black;
  border-radius: 5px;
  font-weight: 100;
  padding: 1px 5px;
  font-size: 90%;
  animation: slideFromBottom 1s;
  display: none;
  z-index: 100;
}
/* WHEN IN MAIN-DIV LOOKING AT LISTS, MICRO OFFERS INFO OF HOW MANY TASKS ARE INSIDE */
.micro-holder{
  justify-content: center;
  display: grid;
  gap: 10px;
  min-width: 50px;
  grid-template-columns: repeat(5, 2fr);
}
.micro{
  width: 4px;
  height: 4px;
  font-size: 0px;
  display: block;
  background: var(--nextTextColor);
  border-radius: 100px;
}

/* TASK COLORING ELEMENTS */
.tasks-colors-holder, .marker-colors-holder{
  align-items: center;
}
.color-div, .marker-color-div{
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: self-end;
}
.color-div:first-child{
  outline: 2px solid #41444d;
  outline-offset: -2px;
}
[color-data="--glassAtomBack"]{
  background-image: linear-gradient(116deg, #7cd3faba, transparent) !important;
}

/* MARKERS */
.marker-colors-holder{
  width: fit-content;
  background: snow;
  height: fit-content;
  outline: 2px solid #42444d5c;
  border-radius: 1px;
  justify-self: center;
}
.marker-mode-holder{
  display: grid;
  justify-items: center;
  align-content: center;
}
.marker-mode{
  display: block;
}
.marker-yellow {background: #fffacd;    border-radius: 10%;  background-image: linear-gradient(45deg, rgb(198 172 172 / 26%), transparent); position: relative; }
.marker-pink   {background: #ff14937d;  border-radius: 10%;  background-image: linear-gradient(45deg, rgb(198 172 172 / 26%), transparent); position: relative; }
.marker-green  {background: #a8fbba;    border-radius: 10%;  background-image: linear-gradient(45deg, rgb(198 172 172 / 26%), transparent); position: relative; }
.marker-orange {background: #ff783382;  border-radius: 10%;  background-image: linear-gradient(45deg, rgb(198 172 172 / 26%), transparent); position: relative; }

/* LETTER LIKE IN MATRIX */
.matrix{
  text-orientation: upright;
  writing-mode: vertical-lr;
}

/* REPLACER OF TEXT IN TASKS */
.replacer{
  display: none;
  width: 60vw;
  height: fit-content;
  position: fixed;
  z-index: 99;
  bottom: -15px;
  gap: 10px;
  margin: 1%;
  background: #383d4570;
  padding: 9px 9px;
  outline: 2px solid #21252c4a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 1.5vh;
  animation: slideFromBottom 0.5s ease-out forwards;
}
.r-input, .r-output{
  width: -webkit-fill-available;
  outline: 3px solid var(--apricot);
  border-radius: 3px;
  border: none;
  padding: 4px;
  color: var(--apricot);
}
.r-input { outline: 3px solid #98fbcb; background: #ff690029; }
.r-output{ outline: 3px solid var(--apricot);  background: #ffdab938;}

.r-input:not(:focus), .r-output:not(:focus){
  filter: opacity(70%);
}
/* SMALL UNDO BUTTON IN r-input */
.undo-history{
  position: absolute;
  right: 15px;
  color: lightpink;
}

/* FULL-SCREEN MODE */
.full-screen{
  min-height: min-content;
  height: 100vh !important;
  position: fixed;
  animation: expandHeight 0.5s cubic-bezier(0.56, 0.55, 0.74, 0.05) forwards;
  transform-origin: center;
  width: 100%;
  max-height: 100vh;
  max-height: 100vh!important;
  transition: 0.75s;
  z-index: 3;

  background-image: radial-gradient(circle, #282c320f 7% 7%, transparent 5%);
  background-size: 30px 30px;
}
.full-screen-mode{
  transform: rotate(45deg);
  font-size: 30px;
}
.full-screen > .is-done,
.full-screen > .delete-task{
  display: none;
}
.full-screen > .editable-wrapper{
  height: 98%;
  max-height: 98%;
  padding: 3vw;
}

/* BOOK PAGER ALLOWS YOU TO SPLIT TEXT INTO MULTIPLE .to-edits */
.book-pager.full-screen > .editable-wrapper{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  grid-column: 4;
}
.book-pager > .editable-wrapper > .to-edit {
  height: 100%;
  border-right: 3px dashed;
  padding-left: 15px;
  padding-right: 15px;
  white-space: pre-wrap;
}
.book-pager > .to-edit:first-child{
  padding-left: 10%;
}
.book-pager > .editable-wrapper > .to-edit:last-child{
  border-right: none;
}

/* MOVING-WINDOW */
.moving-window{
  background: transparent;
  background: #f15f6761;
  outline: 5px solid #f15f67;
  outline-offset: -3px;
  border-radius: 6px;
  width: 219px;
  height: 100px;
  position: absolute;
  left: 0;
  top : 0;
  z-index: 99;
  pointer-events: none;
  user-select: none;
}
/* SUPER CONDENSD VIEW OF STACKED TASKS INISDE ONE PLANNER-FIELD */
.micro-window{
  height: 40px;
}
/* ONCE HOLDED BY MOVING WINDOW TASKS WILL HAVE STYLE UNTIL DROPPED */
[holded="true"]{
  background: #1950b463 !important;
  outline: 4px dashed #1950b4 !important;
  outline-offset: -4px;
  z-index: 5;
}

/* ACTIVE-TASK  */
.active-task:not(.full-screen):after{
  content: "♥︎";
  position: absolute;
  bottom: -26px;
  left: -9px;
  font-size: 45px;
  text-shadow: 0px -20px 0px #ff14936b;
  transform: rotate(38deg);
  animation: expandHeight 0.5s cubic-bezier(0.56, 0.55, 0.74, 0.05);
  animation-direction: reverse;

  transition: max-height 0.5s cubic-bezier(0.25, 1, 0.5, 1),
                width 0.5s cubic-bezier(0.25, 1, 0.5, 1),
                height 0.5s cubic-bezier(0.25, 1, 0.5, 1);

  /* COFFEE OPTION */
  /* content: "⛾";
  position: absolute;
  bottom: -19px;
  left: -3px;
  font-size: 45px;
  animation: expandHeight 0.5s cubic-bezier(0.56, 0.55, 0.74, 0.05);
  animation-direction: reverse;
  transition: max-height 0.5s cubic-bezier(0.25, 1, 0.5, 1), width 0.5s cubic-bezier(0.25, 1, 0.5, 1), height 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  color: #00000069; */
}

/* ACTIVE FOR MARKER color choice*/
.active::after{
  content: "●";
  position: absolute;
  color: #4e42423b;
}

/* SIMPLE CLASSES for HTML */
.-dark{
  background: var(--dark);
  border-radius: 4px;
}
.-large{
  font-size: large;
}
/* REST ARE USED AS CONTAINER THAT WILL PLACE ALL ELEMENTS INSIDE OF IT DEAD CENTER OF ITS OWN WIDTH */
.restovi{
  display: flex;
  justify-content: center;
  width: calc(100% - 35px);
}

.glass{
  backdrop-filter: blur(30px);
}
.glass > .editable-wrapper > .to-edit{
  text-shadow: 0px .75px .8px #fdfdfd99;
}

/* FOR DRAG AND DROP REF .net class */
.net{
  background: transparent !important;
  background-image: linear-gradient(0deg, var(--themeLines), transparent 2px), linear-gradient(90deg, var(--themeLines), transparent 2px) !important;
  background-size: 20.7px 20px !important;
  position: relative;
  transition: 0.5s;
}
.to-edit:not(.net){
  transition: 0.5s;
}
.net::after{
  content: "⬇︎";
  bottom: 0%;
  position: absolute;
  right: 0;
  font-size: 40px;
  color: var(--textColor);
}
/* SCROLLBARS */
::-webkit-scrollbar { width: 2.5px; height: 2.5px; }
::-webkit-scrollbar-corner { background: transparent;}

/* ANIMATIONS */
@keyframes slideFromRight {  /* SLIDE FROM RIGHT */
  from {transform: translate(300px);}
  to   {transform: translate(0);}
}
@keyframes slideFromLeft { /* SLIDE FROM LEFT */
  from {transform: translate(-100px);}
  to   {transform: translate(0);}
}
@keyframes slideFromBottom {  /* SLIDE FROM BOTTOM */
  from {transform: translate(0, 300px);}
  to   {transform: translate(0);}
}
@keyframes zoomOut {  /* ZOOM OUT */
  from {transform: scale(3);}
  to   {transform: translate(1);}
}
@keyframes willItGo {  /* PULSE */
  0%   { filter:opacity(50%);    }
  10%  { transform: scale(0.5);  }
  20%  { transform: scale(0.7);  }
  30%  { transform: scale(0.3);  }
  40%  { transform: scale(0.5);  }
  50%  { transform: scale(0.4);  }
  60%  { transform: scale(0.3);  }
  70%  { transform: scale(0.2);  }
  80%  { transform: scale(0.1);  }
  90%  { transform: scale(0);    }
  100% { filter:opacity(100%);   }
}
@keyframes deletedFromRight {  /*CLIP AWAY RIGHT TO LEFT*/
  0% { clip-path: inset(0 0 0 0);      animation-fill-mode: forwards; }
  100% {clip-path: inset(0 100% 0 0);  animation-fill-mode: forwards; }
}
@keyframes deletedFromLeft {  /*CLIP AWAY RIGHT TO LEFT*/
  0% { clip-path: inset(0 0 0 0); }
  100% {clip-path: inset(0 0 0 100%); }
}
@keyframes understood {  /*BLINK*/
  0%   { mix-blend-mode: normal; transform: translate(0px, 0px);  }
  50%  { mix-blend-mode: color-dodge; transform: translate(0px, 100px);  }
  100% { mix-blend-mode: normal; transform: translate(0px, 0px); }
}
@keyframes shake {
  0%   { transform: translate(1px, 1px) rotate(0deg);      }
  10%  { transform: translate(-1px, -2px) rotate(-1deg);   }
  20%  { transform: translate(-3px, 0px) rotate(1deg);     }
  30%  { transform: translate(3px, 2px) rotate(0deg);      }
  40%  { transform: translate(1px, -1px) rotate(1deg);     }
  50%  { transform: translate(-1px, 2px) rotate(-1deg);    }
  60%  { transform: translate(-3px, 1px) rotate(0deg);     }
  70%  { transform: translate(3px, 1px) rotate(-1deg);     }
  80%  { transform: translate(-1px, -1px) rotate(1deg);    }
  90%  { transform: translate(1px, 2px) rotate(0deg);      }
  100% { transform: translate(1px, -2px) rotate(-1deg);    }
}
@keyframes expandHeight {  /*EXPAND HEIGHT*/
  0%   { transform: scaleY(0.5);  }
  100% { transform: scaleY(1); top: 0; left: 0; }
}

@media (min-width: 800px) {
  .main-list{
    max-width: 60vw;
    margin: 0 auto;
  }
}

/* MOBILE */
@media(max-width: 611px){
   .tasks-colors-holder{
     position: static;
   }
}
